<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Submission</title>
    <script src="form.js"></script>
    <link rel="stylesheet" href="css/form.css">
</head>

<body>

    <div class="main-container">
        <header>
            <h1>Profile Submission</h1>
        </header>
    </div>

    <form id="profileForm" action="/form" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Submit</button>
        
    </form>
  <div class="black-bg"></div>


</body>

</html>