<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Playlist</title>

    <link rel="stylesheet" href="css/index2.css">
    <script src="index2.js"></script>
    <style>
        body {
            font-family: 'Noto Sans', sans-serif;
            margin: 0;
            padding: 0;
            overflow-y: scroll; /* vertical scrolling */
        }

        .main-container {
            position: relative;
            height: 40vh; /* 1/3 of the viewport height */
            background-image: url('https://images.unsplash.com/photo-1558407483-37b8bf9bef06?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTY0NTU4MDF8&ixlib=rb-4.0.3&q=85');
            background-size: cover;
            background-position: bottom;
            background-repeat: no-repeat;
        }

        header {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            padding: 10px;
            text-align: left;
            background-color: transparent;
            z-index: 1; /* Place it above the background image */
        }

        h1 {
            margin-left: 20px;
            margin-top: 150px;
            z-index: 1; /* Place it above the background image */
        }

        .table-box {
            width: 40%; /* adjusted width */
            padding: 30px;
            background-color: rgba(0, 0, 0, 0.7);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }

        .table-container {
            display: flex;
            justify-content: space-around;
            margin-bottom: 100px;
            margin-top: 20px;
        }

        table {
            width: 80%;
            margin: 10px auto;
            border-collapse: collapse;
            background-color: rgba(0, 0, 0, 0.7);
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }

        th,
        td {
            padding: 15px;
            text-align: left;
            border-bottom: 1px solid #555;
        }

        th {
            background-color: #1db99f;
            color: #fff;
        }

        tr:hover {
            background-color: #555;
        }

        .action-buttons {
            display: flex;
            justify-content: space-between;
        }

        .add-button,
        .delete-button {
            background-color: #1db99f;
            color: #fff;
            border: none;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
        }

        #song-panel {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 99%;
            height: 40px; /* height of the rectangle */
            background-color: #333;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: left;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        }

        #song-image {
            width: 50px;
            height: 50px;
            border-radius: 3px;
            margin-right: 40px; /* Added margin for separation */
        }

        #song-info {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #player-controls {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .control-button2 {
            background-color: transparent;
            color: #fff;
            border: none;
            font-size: 20px;
            cursor: pointer;
        }

        /* add space between tables */
        .table-container table:first-child {
            margin-bottom: 100px;
            margin-left: 30px;
            margin-right: 20px;
        }

        .table-container table:last-child {
            margin-left: 20px; /* Add margin-left */
            margin-right: 30px;
        }
      
                 #playlist-modal {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 2;
        }

        .playlist-option {
            margin-bottom: 10px;
        }
      
    </style>
</head>

<body>

  
    <div class="main-container">
    <header>
        <h1>Dj Name</h1>
    </header>
     </div>

  
   <div class="table-container">
    <table>
      <caption>New Album</caption>
        <thead>
            <tr>
                <th>Action</th>
                <th>Song Title</th>
                <th>Duration</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="action-buttons">
                    <button class="add-button"><svg viewBox="0 0 448 512" width="10" title="plus"></path>
  <path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" />
                      <rect width="32" height="352" x="144" y="32" fill="#FFF"></rect>
    
</svg></button>
                </td>
                <td>Song 1</td>
                <td>3:30</td>
                <td class="action-buttons">
                    <button class="delete-button"><svg viewBox="0 0 448 512" width="10" title="trash-alt">
  <path d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"/>
                       <rect width="32" height="352" x="144" y="32" fill="#FFF"></rect>
        </button>
                </td>
            </tr>
            <tr>
                <td class="action-buttons">
                    <button class="add-button"><svg viewBox="0 0 448 512" width="10" title="plus">
  <path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" </button>
                       <rect width="32" height="352" x="144" y="32" fill="#FFF"></rect>
                </td>
                <td>Song 2</td>
                <td>4:15</td>
                <td class="action-buttons">
                    <button class="delete-button"><svg viewBox="0 0 448 512" width="10" title="trash-alt">
  <path d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"</button>
                       <rect width="32" height="352" x="144" y="32" fill="#FFF"></rect>
                </td>
            </tr>
            <tr>
                <td class="action-buttons">
                    <button class="add-button"><svg viewBox="0 0 448 512" width="10" title="plus">
  <path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" </button>
                       <rect width="32" height="352" x="144" y="32" fill="#FFF"></rect>
                </td>
                <td>Song 3</td>
                <td>3:45</td>
                <td class="action-buttons">
                    <button class="delete-button"><svg viewBox="0 0 448 512" width="10" title="trash-alt">
  <path d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"/>
                       <rect width="32" height="352" x="144" y="32" fill="#FFF"></rect>
</svg></button>
                </td>
            </tr>
            <tr>
                <td class="action-buttons">
                    <button class="add-button"><svg viewBox="0 0 448 512" width="10" title="plus">
  <path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" </button>
                       <rect width="32" height="352" x="144" y="32" fill="#FFF"></rect>
                </td>
                <td>Song 4</td>
                <td>3:05</td>
                <td class="action-buttons">
                    <button class="delete-button"><svg viewBox="0 0 448 512" width="10" title="trash-alt">
  <path d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"/>
                       <rect width="32" height="352" x="144" y="32" fill="#FFF"></rect>
</svg></button>
                </td>
            </tr>
             <tr>
                <td class="action-buttons">
                    <button class="add-button"><svg viewBox="0 0 448 512" width="10" title="plus">
  <path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" </button>
                       <rect width="32" height="352" x="144" y="32" fill="#FFF"></rect>
</svg></button>
                </td>
                <td>Song 5</td>
                <td>3:50</td>
                <td class="action-buttons">
                    <button class="delete-button"><svg viewBox="0 0 448 512" width="10" title="trash-alt">
  <path d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"/>
                       <rect width="32" height="352" x="144" y="32" fill="#FFF"></rect>
</svg></button>
                </td>
            </tr>
                  <tr>
                <td class="action-buttons">
                    <button class="add-button"><svg viewBox="0 0 448 512" width="10" title="plus">
  <path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" </button>
                       <rect width="32" height="352" x="144" y="32" fill="#FFF"></rect>
                      </svg></button>
                </td>
                <td>Song 6</td>
                <td>3:40</td>
                <td class="action-buttons">
                    <button class="delete-button"><svg viewBox="0 0 448 512" width="10" title="trash-alt">
  <path d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"/>
                       <rect width="32" height="352" x="144" y="32" fill="#FFF"></rect>
</svg></button>
                </td>
            </tr>
            
        </tbody>
    </table>
  
                  
   <table>
     <caption>Recommended Songs</caption>
        <thead>
            <tr>
                <th>Action</th>
                <th>Song Title</th>
                <th>Duration</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
               <td class="action-buttons">
                    <button class="add-button">
                        <svg viewBox="0 0 448 512" title="plus">
                            <path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path>
                            <rect width="32" height="352" x="144" y="32" fill="#FFF"></rect>
                        </svg>
                    </button>
                </td>
                <td>Song 1</td>
                <td>3:30</td>
                <td class="action-buttons">
                    <button class="delete-button">
                        <svg viewBox="0 0 448 512" title="trash-alt">
                            <path d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"></path>
                            <rect width="32" height="352" x="144" y="32" fill="#FFF"></rect>
                        </svg>
                    </button>
                </td>
            </tr>
            <tr>
                <td class="action-buttons">
                    <button class="add-button"><svg viewBox="0 0 448 512" width="10" title="plus">
  <path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" </button>
                       <rect width="32" height="352" x="144" y="32" fill="#FFF"></rect>
                      </svg></button>
                </td>
                <td>Song 2</td>
                <td>4:15</td>
                <td class="action-buttons">
                    <button class="delete-button"><svg viewBox="0 0 448 512" width="10" title="trash-alt">
  <path d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"/>
                       <rect width="32" height="352" x="144" y="32" fill="#FFF"></rect>
        </button>
                </td>
            </tr>
            <tr>
                <td class="action-buttons">
                   <button class="add-button"><svg viewBox="0 0 448 512" width="10" title="plus">
  <path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" </button>
                       <rect width="32" height="352" x="144" y="32" fill="#FFF"></rect>
                      </svg></button>
                </td>
                <td>Song 3</td>
                <td>3:45</td>
                <td class="action-buttons">
                    <button class="delete-button"><svg viewBox="0 0 448 512" width="10" title="trash-alt">
  <path d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"/>
                       <rect width="32" height="352" x="144" y="32" fill="#FFF"></rect>
        </button>
                </td>
            </tr>
            <tr>
                <td class="action-buttons">
                    <button class="add-button"><svg viewBox="0 0 448 512" width="10" title="plus">
  <path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" </button>
                       <rect width="32" height="352" x="144" y="32" fill="#FFF"></rect>
                      </svg></button>
                </td>
                <td>Song 4</td>
                <td>3:05</td>
                <td class="action-buttons">
                    <button class="delete-button"><svg viewBox="0 0 448 512" width="10" title="trash-alt">
  <path d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"/>
                       <rect width="32" height="352" x="144" y="32" fill="#FFF"></rect>
        </button>
                </td>
            </tr>
             <tr>
                <td class="action-buttons">
                   <button class="add-button"><svg viewBox="0 0 448 512" width="10" title="plus">
  <path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" </button>
                       <rect width="32" height="352" x="144" y="32" fill="#FFF"></rect>
                      </svg></button>
                </td>
                <td>Song 5</td>
                <td>3:50</td>
                <td class="action-buttons">
                    <button class="delete-button"><svg viewBox="0 0 448 512" width="10" title="trash-alt">
  <path d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"/></button>
                       <rect width="32" height="352" x="144" y="32" fill="#FFF"></rect>
                      </svg></button>
                </td>
            </tr>
                  <tr>
                <td class="action-buttons">
                    <button class="add-button"><svg viewBox="0 0 448 512" width="10" title="plus">
  <path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" </button>
                       <rect width="32" height="352" x="144" y="32" fill="#FFF"></rect>
                      </svg></button>
                </td>
                <td>Song 6</td>
                <td>3:40</td>
                <td class="action-buttons">
                    <button class="delete-button"><svg viewBox="0 0 448 512" width="10" title="trash-alt">
  <path d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"/>
                       <rect width="32" height="352" x="144" y="32" fill="#FFF"></rect>
        </button>
                </td>
            </tr>
             <tr>
                <td class="action-buttons">
                    <button class="add-button"><svg viewBox="0 0 448 512" width="10" title="plus">
  <path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" </button>
                      <rect width="32" height="352" x="144" y="32" fill="#FFF"></rect>
                      </svg></button>
                </td>
                <td>Song 7</td>
                <td>3:45</td>
                <td class="action-buttons">
                    <button class="delete-button"><svg viewBox="0 0 448 512" width="10" title="trash-alt">
  <path d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"/>
                       <rect width="32" height="352" x="144" y="32" fill="#FFF"></rect>
        </button>
                </td>
            </tr>
        </tbody>
    </table>
                  
   </div>

   <div id="song-panel">
        <div id="song-info">
            <img id="song-image" src="https://images.unsplash.com/photo-1693856758403-bba589db78dc?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTYxMDg4MTd8&ixlib=rb-4.0.3&q=85">
            <div id="song-title">Song Title</div>
        </div>
        <div id="player-controls">
            <button class="control-button2" id="prevButton">
                <svg viewBox="0 0 256 512" width="10" title="angle-left">
                    <path d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z" />
                </svg>
            </button>
            <button class="control-button2">
                <svg viewBox="0 0 448 512" width="15" title="pause">
                    <path
                        d="M144 479H48c-26.5 0-48-21.5-48-48V79c0-26.5 21.5-48 48-48h96c26.5 0 48 21.5 48 48v352c0 26.5-21.5 48-48 48zm304-48V79c0-26.5-21.5-48-48-48h-96c-26.5 0-48 21.5-48 48v352c0 26.5 21.5 48 48 48h96c26.5 0 48-21.5 48-48z" />
                </svg>
            </button>
            <button class="control-button2" id="nextButton">
                <svg viewBox="0 0 256 512" width="10" title="angle-right">
                    <path
                        d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z" />
                </svg>
            </button>
        </div>
     
     <div id="playlist-modal">
        <h2>Select Playlist</h2>
        <div id="playlist-options">
            <!-- Playlist options -->
        </div>
        <button id="cancelButton">Cancel</button>
    </div>
                  
</body>

</html>